/morpheus-2.3.7
/results/
/redis-stable_new/
/model_graph.dot
/logger.csv
/synth_data_params_4_wass/
/synth_data_params_4_wass_var/
/synth_data_params_4_wass_var_50cell/
/synth_data_params_bayesflow/old_networks