/morpheus-2.3.7
/check_results.ipynb
/redis-stable_new/
/model_graph.dot
/logger.csv
/synth_data_params_4_wass/
/synth_data_params_4_wass_var/
/synth_data_params_4_wass_var_50cell/
/learned_summaries/old_networks
/learned_summaries/presimulations
/learned_summaries/archiv
/learned_summaries/simulation_study_sims.pkl
/.idea